# Intellij
.idea/
out/

# Gradle
.gradle/
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!gradle-wrapper.properties

# Avoid ignoring Jitpack jar file (.jar files are usually ignored)
!jitpack.jar

# External Library
libs/

# Buildtools
.buildtools/

# Paper
.paper/